* {
    font-family: 'Andale Mono', 'Rockwell', sans-serif;
}

body {
    background-color: lightgray;
}

header {
    color: black;

}

h1 {
    font-size: 34px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px; 
}

h4 {
    font-size: 18px;
}

p {
    font-size: 14px;
}

/* NAVBAR */

/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }  
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  #navbar a:hover {
    background-color: #04AA6D;
    color: white;
}
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }
  
/* Contact Page */
.contact-img {
    background-image: url('form-background.jpeg');

    /* Control the height of the image */
    min-height: 380px;

  /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #333;
    border-radius: 10%;
}

.contact-form {
    margin: 20px;
    max-width: 300px;
    padding: 16px;
}

#contact-message {
    height: 100px;
    width: 200px;
}

#main-slideshow {
    width: 100%;
}

.social-icons {
    width: 75px;
    height: 100px;
}

#ig-icon {
    margin-left: 25%;
}

#twitter-icon {
    margin-right: 25%;
}

/*
align-items: center;
width: 75px;
    height: 100px;

#ig-icon {
    float: left;
    margin-left: 30%;
    margin-bottom: 18%;
}

#twitter-icon {
    float: right; 
    margin-right: 30%;
    margin-bottom: 20%;
}
*/

